{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "no-descending-specificity": null,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "selector-type-no-unknown": [ true, {
      "ignoreTypes": [
        "/^[a-zA-Z]([a-zA-Z0-9]*-[a-zA-Z0-9]+)+/"
      ]
    } ]
  }
}
